* {
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-size: 24px;
    font-weight: bolder;
}

.container {

    display: flex;

    width: 100%;
    height: 100vh;
    background-color: linear-gradient(88.6deg,#11639c,#097bbf 58.85%,#00ace0);
    justify-content: center;
    align-items: center;
}

.ChildContainer {

    height: 50%;
    width: 50%;

}


.PlayerPCScore {

    display: flex;
    height: 30%;
    width: 100%;



}

.Human {

    text-align: center;
    line-height: 100px;

    background-color: brown;

    height: 100%;

    width: 50%;

}

.Computer {

    text-align: center;
    line-height: 100px;

    background-color: black;

    height: 100%;

    width: 50%;
}

.ChoiceButtons {
    display: flex;
    height: 40%;
    width: 100%;
    gap: 20%;
  
}

.circleButtonRock{

    height: 100%;

    width: 20%;

    background-color: red;

    border-radius: 50%;

    text-align: center;
    line-height: 100px;


}

.circleButtonPaper{

    height: 100%;

    width: 20%;

    background-color: blue;

    border-radius: 50%;

    text-align: center;
    line-height: 100px;


}

.circleButtonScissors{

    height: 100%;

    width: 20%;

    background-color: orange;

    border-radius: 50%;

    text-align: center;
    line-height: 100px;


}

.Gameresult {

    height: 30%;
    width: 100%;
    background-color: green;
    text-align: center;
    line-height: 100px;
}
